
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CALCULADORA</title>
</head>
<body>
    <div> 
        <from method="post" actions="/Home/oper">
            Introduzca su operación : <input type="text" id="val1"><input type"text" id="oper" size="1" ><input type="text" id="val2">
            <br>
            <label id="label1"></label>
            <input type="submit" value="Resultado" />
        </from>
    </div>
</body>
</html>
