
@{
    Layout = null;
}
@model IEnumerable<Calculator.Controllers.CalcController>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>oper</title>

</head>
<body>
    <div>
        @Html
    </div>
</body>
</html>
